@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app, .taro_router, .taro_router .taro_page {
  min-height: 100vh;
}

body {
  background: linear-gradient(180deg, #eef3ff 0%, #fbf4ff 45%, #f0f7ff 100%);
}
